@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  background: linear-gradient(to bottom right, #fdfcfb, #e2d1c3);
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner img {
  width: 99vw;
  height: 80vh;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.banner h1 {
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
  color:rgba(4, 0, 0, 0.746);
}

.banner em {
  font-size: 1.4em;
  margin-bottom: 20px;
  color:rgba(4, 0, 0, 0.746);
}

.banner button {
  color: white;
  font-size: 1.2em;
  margin: 50px;
  padding: 10px 20px;
  background-color: rgb(93, 148, 121);
  transition: transform 0.3s, background-color 0.3s;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.banner button:hover {
  background-color: #3c7760;
  transform: scale(1.1);
}


.navbar {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #c6c3bb;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.399);
  width: 95vw;
  border-radius: 10px;
}

.navbar h1 {
  font-size: 40px;
  font-family: monospace;
  color: rgba(0, 0, 0, 0.4);
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  padding-left: 1rem;
  margin: 5px;
}

.navbar li button {
  text-decoration: none;
  color: white;
  font-size: 17px;
  width: 150px;
  background-color: rgb(93, 148, 121);
  transition: transform 0.3s, background-color 0.3s;
}

.navbar li button:hover {
  color: #ffffff;
  background-color: #3c7760;
  transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar h1 {
    font-size: 30px;
  }

  .navbar li {
    padding: 5px 0;
  }

  .navbar li button {
    width: 100%;
  }
}

.calender {
  text-align: center;
  width: 90vw;
  margin-bottom: 50px;
}

input[type='text'],
select,
textarea {
  width: 88vw;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type='submit'] {
  background-color: rgb(93 148 121);
  width: 120px;
  padding: 12px 20px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

input[type='submit']:hover {
  background-color: #3c7760;
  transform: scale(1.1);
  /* Reduce the size to 90% when hovering */
}

.container {
  border-radius: 10px;
  width: 88vw;
  background-color: #d8ddd8;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.399);
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex: 1;
}

input[type='text'] {
  margin-left: 0.1rem;
}

button {
  cursor: pointer;
}

.note-holder {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.notes-details-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;
}

.note-card {
  margin: 0.5rem;
  border: 1px solid #444;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #777;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.delete-note-btn {
  position: absolute;
  bottom: 5%;
  right: 5%;
  background-color: rgb(93, 148, 121);
}

.update-note-btn {
  position: absolute;
  bottom: 5%;
  left: 5%;
  background-color: rgb(93, 148, 121);
}

.add-note-btn {
  text-decoration: none;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  width: 150px;
  background-color: rgb(93, 148, 121);
  transition: transform 0.3s, background-color 0.3s;

}

.add-note-btn:hover {
  background-color: #3c7760;
  transform: scale(1.1);
}

.about-section {
  width: 95vw;
}

.about-section h1 {
  text-align: center;
}

.footer {
  bottom: 0;
  left: 0;
  margin: 40px;
  width: 95vw;
  height: 100px;
}

.footer p {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 20px;
}

.sliderText {
  color: white;
}


.login-header {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.login-username input {
  width: 400px;
  margin: 10px;
}

.login-password input {
  width: 300px;
  margin: 10px;
  margin-bottom: 50px;
}


.register-header {
  display: flex;
  justify-content: center;
}

.register-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.register-name input {
  width: 400px;
  margin: 10px;
}

.register-username input {
  width: 400px;
  margin: 10px;
}

.register-password input {
  width: 300px;
  margin: 10px;
  margin-bottom: 50px;
}

button {
  background-color: #3c7760 !important;
  color: white;
}



.login-header {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.login-username input {
  width: 400px;
  margin: 10px;
}

.login-password input {
  width: 300px;
  margin: 10px;
  margin-bottom: 50px;
}


.register-header {
  display: flex;
  justify-content: center;
}

.register-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.register-name input {
  width: 400px;
  margin: 10px;
}

.register-username input {
  width: 400px;
  margin: 10px;
}

.register-password input {
  width: 300px;
  margin: 10px;
  margin-bottom: 50px;
}

button {
  background-color: #3c7760 !important;
  color: white;
}
