body {
    display: flex;
    background-color: #1e212d;
    justify-content: center;
    color: #eabf9f;
    height: 100vh;
}

.button-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
    gap: 10px;
}

.slider-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align sliders to the start (left) */
    gap: 10px;
    margin-left: 41px;
}

p {
    display: flex;
    justify-content: center;
    font-size: 35px;
    align-items: center;
    /* Vertically centre the content */
}

.CircularProgressbar {
    width: 45vh; /* Set the width to make it bigger */
    height: 45vh; /* Set the height to make it bigger */
  }
  
